body {
  background-color: green;
}

.car {
  width: 100px;
  height: 100px;
  position: absolute;
}

.face-up {
  transform: rotate(-90deg);
}

.face-down {
  transform: rotate(90deg);
}

.face-left {
  transform: rotate(180deg);
}

.face-right {
  transform: rotate(0deg);
}
